a{
    color: #207698 !important;
    cursor: pointer;
}

h2{
    // font-weight: 700;
    font-size: 28px !important;

}


h1{
    // font-weight: 700;
    font-size: 32px !important;

}

h3{
    // font-weight: 700;
    font-size: 21px !important;

}

.finnafi-blockquote
 {
  background: #f7f7f7;
}



  .subsection-list{
    ul{
        border: none;
    }
    li{
        border: none;
    }
    .nav-tabs .nav-link.active{
  color: #007d65!important;
  font-weight: 700;
        
    }

    .nav-tabs .nav-link{
        border: none;
    }
  }


  pre {
    // display: block;
    // padding: 10px;
    margin: 0 0 10.5px;
    // font-size: 13px;
    // line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    // background-color: #f5f5f5;
    border: 1px solid #ccc;
    // border-radius: 10px;
}

.finna-help-code:after {
    // background: #723981;
    color: #fff;
    font-family: finnaicons;
    content: "";
    margin-left: auto;
    display: inline-flex;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}


@media only screen and (min-width: 992px) {
    .finna-help-code {
        width: 75%;
    }
}

  .finna-help-code {
    display: flex;
    margin-bottom: 1em;
    height: 3em;
    line-height: 3em;
    font-size: 19px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    padding: 0 0 0 .5em;
}


.row{
    flex-direction: row-reverse;
}

::ng-deep html[dir="rtl"]{

    .pull-right {
        float: left !important;
    }
    

}

img {
    max-width: 100%;
}

::ng-deep html[dir="ltr"]{

    .pull-right {
        float: right !important;
    }
    

}


  
.content-section {
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #d1d1d1;
}

::ng-deep html[dir="rtl"]{
    .finna-help-code{
        padding-right: 10px;
    }
}















.panel-group {
    margin-bottom: 21px;
}

.panel {
    margin-bottom: 0;
    border-radius: 0;
}
.panel-default {
    border-color: #ddd;
}


.panel {
    // margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    // border-radius: 0;
    // -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


.panel-default>.panel-heading {
    color: #121212;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}


.panel-heading {
    padding: 0;
    // border-bottom: 1px solid transparent;
    border-top-left-radius: -1px;
    border-top-right-radius: -1px;
}

.panel-heading .panel-title a {
    width: 100%;
    display: block;
}


.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 21px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


.panel-body {
    padding: 10px;
}


.col-xs-2 {
    width: 16.66666667%;

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-xs-10{
    width: 83.33333333%;
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
}


.cc-rights {
    background-color: #f7f7f7;
    display: inline-block;
    font-weight: 500;
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: center;
    white-space: normal;
    overflow-wrap: anywhere;
}

.cc-rights{
    img{
        margin-right: 10px;
    }
}

.cc-rights .iconlabel {
    font-size: 16px;
    line-height: 16px;
    margin-right: 0;
    padding: 0;
}










::ng-deep html[dir="rtl"]{
    .finnafi-blockquote {
        display: inline-block;
        border-right: 5px solid #723981;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        border-left: 1px solid #d1d1d1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-top: 1em;
        padding-bottom: 1em;
        padding: 15px;
      }

}

::ng-deep html[dir="ltr"]{
    .finnafi-blockquote {
        display: inline-block;
        border-left: 5px solid #723981;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-top: 1em;
        padding-bottom: 1em;
        padding: 15px;
      }
}

table, th, td {
    border:1px solid #007d65;
  }

  li{
    margin-top: 10px;
  }

  
  td {
    padding: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

::ng-deep{
    #arabic-search-notes li a{
        color: hsl(45.56deg 100% 47.25%) !important;
    }
    }