
<div style="color:#000;margin-top: 1.5rem; margin-bottom: 1.5rem;" class="content-container container-fluid">
  <div>
    <div class=" col-12 d-flex uni-info">
      <div class="d-flex" style="gap: 60px;">
        <div>
          <a class="text-white col-lg-3 col-md-6 col-xs-6 footer-widget"
            target="_blank"
            href="https://kfnl.gov.sa/ar/Pages/default.aspx">
    
            <img style="width: 120px; height:
              70px;margin-right: -40px;"
              src="assets/images/logo.png" />
    
    
          </a>
          <br>

          <div class="repo-info" style="margin-top: 0px;">
            <div style="color: #000;" class=" font-12 mb-1">
              {{'footer.top.content2' | translate}}</div>
              
            <ul class="list-inline font-16 mb-2 social-list">
              <li class="list-inline-item m-0">
                <a id="lnktwitter" class="twitterIcon"
                  href="https://www.facebook.com/kfnlgovsa" target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a id="lnktwitter" class="twitterIcon"
                  href="https://twitter.com/kfnlgov" target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a id="lnklinkedIn" class="linkedinIcon"
                  href="https://www.youtube.com/channel/UCNTtXgOqs8mnEKkPz4CBWHw"
                  target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
      
      
      
              <li class="list-inline-item m-0">
                <a id="lnklinkedIn" class="linkedinIcon"
                  href="https://www.instagram.com/kfnlgov"
                  target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-brands fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
      
      
      
            </ul>
      
      
      
            <div style="color: #000;" class="font-14 mt-1 mb-1 ">
              {{'footer.top.content3' | translate}} <a 
                routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>!</div>
          </div>
        </div>

        <div>
          <a class="text-white col-lg-3 col-md-6 col-xs-6 footer-widget"
            target="_blank"
            href="https://libraries.moc.gov.sa/">
    
            <img style="width: 120px; height:
              70px;margin-right: -40px;"
              src="assets/images/LC-LOGO.png" />
    
    
          </a>
          <br>

          <div class="repo-info" style="margin-top: 0px;">
            <div style="color: #000;" class=" font-12 mb-1">
              {{'footer.top.content2' | translate}}</div>
              
            <ul class="list-inline font-16 mb-2 social-list">
              <li class="list-inline-item m-0">
                <a id="lnktwitter" class="twitterIcon"
                  href="https://facebook.com/mocsaudi" target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a id="lnktwitter" class="twitterIcon"
                  href="https://twitter.com/MOCLibraries" target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a id="lnklinkedIn" class="linkedinIcon"
                  href="https://www.youtube.com/channel/UCnc1DIRKscjEECNfeOBTaTw"
                  target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
      
      
              <li class="list-inline-item m-0">
                <a id="lnklinkedIn" class="linkedinIcon"
                  href="https://instagram.com/MOCSaudi"
                  target="_blank">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-brands fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
      
      
      
      
            </ul>
      
      
      
            <div style="color: #000;" class="font-14 mt-1 mb-1 ">
              {{'footer.top.content3' | translate}} <a 
                routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>!</div>
          </div>
        </div>



      </div>



  </div>
  </div>



  <div class="col-lg-6 col-md-6 col-xs-6 footer-widget">

    <h5 class="widget-title mt-0 mb-2 " style="color:#000;">{{'footer.copyRights.link'
      | translate}}</h5>
  

    <ul style="color:#0F3156;" class="footer-info list-unstyled small font-12
      ustify-content-center
      mb-0">

      <li>
        <a style="color:#000;" class="" href="#"
        (click)="showCookieSettings()">{{ 'footer.link.cookies' |
        translate}}</a>
      </li>
      <li>
        <a style="color:#000;" class=""
                routerLink="info/privacy">{{ 'footer.link.privacy-policy' |
                translate}}</a>
      </li>
      <li>
        <a style="color:#000;" class=""
                routerLink="info/end-user-agreement">{{
                'footer.link.end-user-agreement' | translate}}</a>
      </li>
      <li>
        <div  class="notify-enabled ">
          <a style="color:#000;" class="coar-notify-support-route" routerLink="info/coar-notify-support">
            <img style="height: 20px !important;" class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
            {{ 'footer.link.coar-notify-support' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>


  <!-- <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">
 
      
    <ul class="footer-info list-unstyled small font-12 ustify-content-center
      mb-0">

      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/En/About/Pages/Contact-US.aspx">{{'footer.quick.links'
          | translate}}</a>
      </li>

      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/Pages/Databases.aspx">{{ 'footer.quick.links5' |
          translate}}</a>
      </li>

      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/About/Pages/TaroundLibrary.aspx">{{ 'footer.quick.links1' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://mail.kfnl.gov.sa/">{{ 'footer.quick.links2' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/Pages/levelservice.aspx">{{ 'footer.quick.links3' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/Vision/Pages/default.aspx">{{ 'footer.quick.links4' |
          translate}}</a>
      </li>




    </ul>
  </div> -->

  <!-- <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">
  
    <ul class="footer-info list-unstyled small font-12 ustify-content-center
      mb-0">



      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/Pages/SiteMap.aspx">{{ 'footer.important.links1'
          |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/About/ContactUs/Pages/FAQ.aspx">{{
          'footer.important.links2' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://kfnl.gov.sa/Ar/About/ContactUs/Pages/security.aspx">{{
          'footer.important.links3' |
          translate}}</a>
      </li>




    </ul>
  </div> -->

  

</div>
<footer class="text-lg-start d-flex" style="justify-content: space-between;padding: 0 15px 0 15px;background-color: #7f7d7d !important;border-top: 1px #000 solid">

  <div>
    <p style="margin-top: 5px;color:#FFF !important;" class="bottom-footer d-flex
      justify-content-center
      align-items-center
      rights">{{'footer.link.copyrights' | translate}} ©2025 </p>
  </div>
  <!-- Copyright -->
  <div class="bottom-footer p-1 justify-content-center align-items-center
    ">
    <div class="content-container ">





      <div>
        <p  style="    color: #FFF !important;
        " class="m-0">
          <a style="color:#FFF !important;"
            href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
          {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
          <a style="color:#FFF !important;"
            href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' |
            translate}}</a>
          {{ 'footer.link.arabizationsBy' | translate}}
          <a style="color:#FFF !important;" target="_blank"
            href="http://kwareict.com/ar"> <img style="width: 130px; height:
              30px;" src="assets/images/kware_logo_ar.png" />
          </a> 
        </p>

      </div>

    </div>
  </div>
  <!-- Copyright -->
</footer>

