<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>
<div class="d-flex flex-row">
  <ds-item-page-title-field class="mr-auto" [item]="object">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <!-- <ds-thumbnail [thumbnail]="object?.thumbnail | async"
                    [defaultImage]="'assets/images/person-placeholder.svg'"
                    [alt]="'thumbnail.person.alt'"
                    [placeholder]="'thumbnail.person.placeholder'">
      </ds-thumbnail> -->
      <ng-container *ngIf="mediaViewer.image">
        <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-media-viewer [item]="object"></ds-media-viewer>
    </div>
    </ng-container>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="object"
    [fields]="['person.email']"
    [label]="'person.page.email'">
  </ds-generic-item-page-field>
  <ds-generic-item-page-field [item]="object"
    [fields]="['person.telephone']"
    [label]="'person.page.telephone'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.address']"
    [label]="'person.page.address'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.wikipedia']"
    [label]="'person.page.wikipedia'">
  </ds-generic-item-page-field>


  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.linkedIn']"
    [label]="'person.page.linkedIn'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.identifier.facebook']"
    [label]="'person.page.facebook'">
  </ds-generic-item-page-field>


  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.twitter']"
    [label]="'person.page.twitter'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.profile']"
    [label]="'person.page.profile'">
  </ds-generic-item-page-field>



  <ds-generic-item-page-field [item]="object"
    [fields]="['person.birthDate']"
    [label]="'person.page.birthDate'">
  </ds-generic-item-page-field>


  <ds-generic-item-page-field [item]="object"
    [fields]="['person.birthDate.hijri']"
    [label]="'person.page.birthDateHijri'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.deathDate']"
    [label]="'person.page.deathDate'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.deathDate.hijri']"
    [label]="'person.page.deathDateHijri'">
  </ds-generic-item-page-field>


  </div>
  <div class="col-xs-12 col-md-7">
    <ds-generic-item-page-field [item]="object"
    [fields]="['person.description.biography']"
    [label]="'person.page.biography'">
  </ds-generic-item-page-field>


  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description']"
    [label]="'person.page.description'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description.abstract']"
    [label]="'person.page.abstract'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.religion']"
    [label]="'person.page.religion'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
  [fields]="['person.salutation']"
  [label]="'person.page.salutation'">
</ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.jobTitle']"
    [label]="'person.page.jobTitle'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.jobTitle.description']"
    [label]="'person.page.jobTitleDescription'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.familyName']"
    [label]="'person.page.familyName'">
  </ds-generic-item-page-field>
  <ds-generic-item-page-field [item]="object"
    [fields]="['person.givenName']"
    [label]="'person.page.givenName'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.title']"
    [label]="'person.page.title'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.nickname']"
    [label]="'person.page.nickname'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.nationality']"
    [label]="'person.page.nationality'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.birthPlace']"
    [label]="'person.page.birthPlace'">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.era']"
    [label]="'person.page.era'">
  </ds-generic-item-page-field>






  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.language.iso']"
    [label]="'item.page.language'">
  </ds-generic-item-page-field>




  <!-- <div *ngIf=" !object?.firstMetadata('person.familyName') &&
    !object?.firstMetadata('person.givenName') && !object?.firstMetadata('dspace.object.owner')">
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.title']"
      [label]="'person.page.name'">
    </ds-generic-item-page-field>
  </div> -->

  <div *ngIf=" !object?.firstMetadata('person.familyName') &&
  !object?.firstMetadata('person.givenName') && object?.firstMetadata('dspace.object.owner')">
  <ds-generic-item-page-field [item]="object"
    [fields]="['dspace.object.owner']"
    [label]="'person.page.name'">
  </ds-generic-item-page-field>
</div>

  <ds-generic-item-page-field [item]="object"
    [fields]="['person.affiliation.name']"
    [label]="'person.page.affiliationName'">
  </ds-generic-item-page-field>
  <ds-generic-item-page-field [item]="object"
    [fields]="['person.identifier.orcid']"
    [label]="'person.page.identifierOrcid'">
  </ds-generic-item-page-field>


  <ds-related-items
      [parentItem]="object"
      [relationType]="'isPersonLinkedTo'"
      [label]="'isPersonLinkedTo' | translate">
    </ds-related-items>


    <ds-related-items
    [parentItem]="object"
    [relationType]="'isPersonLinkingTo'"
    [label]="'isPersonLinkingTo' | translate">
  </ds-related-items>

  <ds-related-items
  [parentItem]="object"
  [relationType]="'isProjectOfPerson'"
  [label]="'relationships.isProjectOf' | translate">
</ds-related-items>
<ds-related-items
  [parentItem]="object"
  [relationType]="'isOrgUnitOfPerson'"
  [label]="'relationships.isOrgUnitOf' | translate">
</ds-related-items>

<ds-related-items
[parentItem]="object"
[relationType]="'isAdministrationOfPerson'"
[label]="'relationships.isAdministrationOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isPlaceOfPerson'"
[label]="'relationships.isPlaceOf' | translate">
</ds-related-items>

<ds-related-items
[parentItem]="object"
[relationType]="'isSiteOfPerson'"
[label]="'relationships.isSiteOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isEventOfPerson'"
[label]="'relationships.isEventOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isActivityOfPerson'"
[label]="'relationships.isActivityOf' | translate">
</ds-related-items>

<ds-related-items
[parentItem]="object"
[relationType]="'isEraOfPerson'"
[label]="'relationships.isEraOf' | translate">
</ds-related-items>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
  <div class="mt-5 w-100">
    <ds-tabbed-related-entities-search  [item]="object"
                                        [relationTypes]="[{
                                          label: 'isPublicationOfAuthor',
                                          filter: 'isAuthorOfPublication',
                                          configuration: 'default-relationships'
                                          },
                                          {
                                          label: 'isAdministrationOfPerson',
                                          filter: 'isPersonOfAdministration',
                                          configuration: 'administration-relationships'
                                          },
                                          {
                                          label: 'isOrgUnitOfPerson',
                                          filter: 'isPersonOfOrgUnit',
                                          configuration: 'orgunit-relationships'
                                          },
                                          {
                                          label: 'isPlaceOfPerson',
                                          filter: 'isPersonOfPlace',
                                          configuration: 'place-relationships'
                                          },
                                          {
                                          label: 'isSiteOfPerson',
                                          filter: 'isPersonOfSite',
                                          configuration: 'site-relationships'
                                          },
                                          {
                                          label: 'isEventOfPerson',
                                          filter: 'isPersonOfEvent',
                                          configuration: 'event-relationships'
                                          },
                                          {
                                          label: 'isActivityOfPerson',
                                          filter: 'isPersonOfActivity',
                                          configuration: 'activity-relationships'
                                          },
                                          {
                                          label: 'isEraOfPerson',
                                          filter: 'isPersonOfEra',
                                          configuration: 'era-relationships'
                                          },
                                          { 
                                          label: 'isProjectOfPerson',
                                          filter: 'isPersonOfProject',
                                          configuration: 'project-relationships'
                                          }
                                       
                                          ]">
    </ds-tabbed-related-entities-search>
  </div>
</div>
