:host {
  display: block;
}
ds-listable-object-component-loader {
  margin-bottom: 10px;
  display: block;
}


.top-border:not(:first-child){
  border-top: 1px solid rgba(34,36,38,.15);
  margin: 0;
  padding: 1.5em 0;
}
