<!-- <div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace 8</h1>
          <p class="lead">DSpace is the world leading open source repository platform that enables
            organisations to:</p>
        </div>
      </div>
      <ul>
        <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>
      </ul>
      <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin&#64;gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin&#64;gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin&#64;gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit&#64;gmail.com</li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/>
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div> -->

 <!-- kware start edit -- issue.8.0.025
- home news customization -->


<!-- <div class="background-image">
  <div class="container" >

    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap" style="justify-content: center;align-items: center;width: 100%;">
        <div style="width: 100%;margin-top: 260px;">
          <ds-search-form [showScopeSelector]="true" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>

         
        </div>
      </div>

    </div>
  </div>
</div> -->

<div class="background-image">

  <video autoplay [muted]="'muted'" playsinline [playsInline]="true" loop  width="100%" height="600px" class="back-video">
    <source src="/assets/dspace/images/3.mp4" type="video/mp4">
  </video>

<!-- <img src="/assets/dspace/images/King-Fahad-National-Library_2473.jpg.png"/> -->

  <div class="container" >
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap" style="justify-content: center;align-items: center;width: 100%;">
        <!-- kware edit
        translate home-news screen -->
        <div style="width: 100%;margin-top: 350px;">
          <ds-search-form [showScopeSelector]="true" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>

          <!-- <h1 class="display-3">{{ "home.news.dspace7" | translate }}</h1> -->
        </div>
      </div>
      <!-- <ul>

        <li>
          {{ "home.news.dspace.intro.content1" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content2" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content3" | translate }}
        </li>
      </ul> -->
    
      <!-- <p>
        {{ "home.news.dspace.testUser.header" | translate }}
      </p> -->
      <!-- <ul>
        <li>{{ "home.news.dspace.demoSite.userName" | translate }} = dspace@kwareict.com</li>
        <li>{{ "home.news.dspace.demoSite.userPass" | translate }} = kware-dspace7-demo</li>
      </ul> -->
    </div>
  </div>
  <!-- <small class="credits"
    >Photo by
    <a href="https://www.pexels.com/@inspiredimages">@kwaretech</a></small
  > -->
  <!-- end kware edit -->
</div>


 <!-- kware end edit -- issue.8.0.025 -->